---
import "../styles/variables.css";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=5.0"
    />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="wetterkarte" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="canonical" href={Astro.url.href} />

    <!-- Open Graph / Social Media -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://wetterkarte.org/social-media-preview.webp" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@wetterkarte_org" />
    <meta name="twitter:creator" content="@wetterkarte_org" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
    <!-- 100% privacy-first analytics -->
    <script>
      if (!/ahrefs|AhrefsBot|googlebot|bingbot|semrushbot|yandexbot/i.test(navigator.userAgent)) {
        const script = document.createElement('script');
        script.async = true;
        script.src = 'https://scripts.simpleanalyticscdn.com/latest.js';
        document.head.appendChild(script);
      }
    </script>
  </body>
</html>
